/*PESAWAT*/
/*============================================*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
@import url(http://weloveiconfonts.com/api/?family=entypo);
/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}
body{
    font-family: 'Open Sans', sans-serif;
    color: #000;
}
.route{
	padding: 10px 0;
	border-bottom: 1px solid #dee4e9;
	background: #ffffff;
}
.route .title h4{
	color: #5884fc;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 600;
}
.route .desc p{
	color: #000000;
	text-transform: capitalize;
	font-size: 13px;
}
.route .link{
	text-align: center;
}
.route .link a{
	color: #5884fc;
	font-weight: 600;
	font-size: 15px;
	text-transform: uppercase;
}
.route .row,
.boxDestination .row,
.boxList .row{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
	box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.detailContent{
	background: #f9f9fb;
	padding: 15px 0;
	color: #000000;
}
.boxDestination{
	background: #f7b744;
	padding: 15px 25px;
}
.boxDestination .number{
	font-size: 40px;
}
.boxDestination{
	color: #ffffff;
	font-size: 13px;
}
.boxDestination a{
	border:1px solid #ffffff;
	color: #ffffff;
	padding: 5px 15px;
	border-radius: 3px;
}
.boxDestination .number,
.boxDestination .text{
	float: left;
}
.boxDestination .number{
	border-right: 2px solid #ffffff;
	padding-right: 15px;
	margin-right: 20px;
}
.route i{
	font-size: 13px;
}
.boxList{
	background: #ffffff;
	padding: 20px;
	border-radius: 3px;
	margin-top: 15px;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(63, 63, 68, 0.15), 0 0 0 1px rgba(63, 63, 68, 0.05);
    cursor: pointer;
    transition: transform 0.3s ease;
}
/*
.boxList:hover{
    transform: translateY(-10px);
    box-shadow: 0px 6px 10px 0px rgba(63, 63, 68, 0.15);
}
*/
.boxList .timeFlight{
	float: left;
	margin-right: 10px;
	padding: 10px 0; 
}
.boxList .timeFlight i{
	color: #282828;
	font-style: normal;
	position: relative;
	left: -20px;
}
.boxList .durationFlight,
.boxList .timeFlight{
	line-height: 2;
}
.boxList i{
	font-style: normal;
}
.boxList .luggage{
	color: #5884fc;
}
.boxList .btn-yellow, .modal .btn-yellow{
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    position: relative;
    border-radius: 3px;
    border-color: #ff6d54;
    background: #ff6d54;
	padding: 5px 30px;
}
.boxList .price, .modal .price{
	color: #ff6d54;
	font-weight: 600;
	font-size: 17px;
}
.boxList .fl{
	float: left;
	margin: 0 0 0 15px;
}
.boxList .fr{
	float: right;
	padding-left: 25px;
}
.boxList img{
	max-height: 20px;
}
.detailContent > .container > .row > .col-sm-4.opc {
    opacity: .2;
    cursor: pointer;
}
#accordion a,
#accordion1 a,
#accordion2 a{
	color: #5884fc;
	padding: 0 30px 0 0;
}
#accordion,
#accordion1{
	margin-top: 30px; 
}
.detailContent .panel.panel-default.detailShow{
	border: none;
	margin: 0;
	box-shadow: none;
}
.detailContent .panel.panel-default.detailShow .panel-body{
	padding: 15px;
    border: 1px solid #ececee;
    margin-top: 25px;
    background: #fcfcfc;
}
.fl span, .detailDesc p span, .fr span{
	color: #999;
	padding-left: 15px;
}
.detailDesc{
	margin-top: 30px; 
}
.nopad{
	padding: 0 !important;
}
.padtb15{
	padding: 15px 0;
}
.top-xs{
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.boxduration{
    padding: 10px 0 20px;
}
.boxhalf{
	float: left;
	width: 50%;
}
.boxhalf h4{
	margin-top: 0;
}
.bl {
    float: left;
    width: 1px;
    min-height: 125px;
    background: #5884fc;
    margin: 0 15px 0 0;
    position: absolute;
    top: -50px;
}
.bltrans{
    float: left;
    width: 1px;
    min-height: 80px;
    background: transparent;
    margin: 0 15px 0 0;
    position: relative;
    top: 20px;
}
.dot{
	border-radius: 20px;
    border: 1px solid #f7b744;
    background: #fff;
    width: 7px;
    height: 7px;
    display: block;
    margin-left: -3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.disc{
	border-radius: 20px;
    border: 1px solid #f7b744;
    background: #f7b744;
    width: 7px;
    height: 7px;
    display: block;
    margin-left: -3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.blue{
	color: #5884fc;
}
.refund {
    padding-left: 15px;
    margin: 15px 0;
}
.fr,
.boxlinkLogin{
	padding-right: 15px;
}
.boxlinkLogin a{
	padding:0 !important;
}
.boxlinkLogin,
.refund{
	color: #999;
}
.invoiceBox {
    padding: 15px 15px 0;
}
.invoiceBox span{
	color: #999;
}
.detailContent .col-sm-4 #accordion1,
.detailContent .col-sm-4 #accordion{
	pointer-events: none;
}
.departureChoosed p, .modal p{
    font-size: 13px;
    color: #767272;
}
.departureChoosed h4{
    font-weight: 600;
    margin-top: 15px;
}
.departureChoosed a{
    color: #5884fc;
    font-size: 13px;
}
.departureChoosed span{
    font-size: 12px;
    font-style: italic;
}
.departureChoosed .price{
    text-align: center;
}
.changeDeparture{
    background: #f5f5f5;
    border-top: 1px solid #d1d1d1;
    text-align: center;
    padding: 15px 0;
    border-radius: 0 0 5px 5px;
}
.departureChoosed{
    padding: 0 !important;
}
.boxDC {
    padding: 20px 20px 10px 20px;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none;
    outline-offset: 0;
}
.boxDC span {
    padding-left: 0 !important;
}
.modal .link a{
    color: #5884fc;
    padding: 25px;
}
.middle-xs {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.modal-open .modal {
    background: rgba(41, 39, 53, 0.85);
}
.modal-content{
    border-radius: 5px;
}
.filter {
    margin-top: 15px;
}
.filter button{
    color: #5884fc;
}
.w20 {
    width: 20%;
    float: left;
    padding: 5px 15px;
}
.modal-title{
    font-weight: 600;
}
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
}
.w20 .fl{
    width: 50%;
    float: left;
}
.w20 .fl img {
    max-width: 40px;
    padding: 15px 0;
}
.w20 h4 {
    font-size: 15px;
    color: #000;
}
.modal-footer {
    background: #f6f6f6;
    border-radius: 0 0 5px 5px;
}
.modal-footer .panel.panel-default.detailShow {
    border: 0;
    margin: 0;
    background: transparent;
    box-shadow: none;
}
#FlightDetailModal{
    text-align: left;
}
#FlightDetailModal p{
    color: #000;
}
#FlightDetailModal span{
    color: #767272;
}
#FlightDetailModal img{
    max-height: 20px;
    margin-bottom: 15px;
}
#FlightDetailModal i{
    font-style: normal;
    color: #5884fc;
}
.blModal {
    float: left;
    width: 1px;
    min-height: 133px;
    background: #5884fc;
    margin: 0 15px 0 0;
    position: absolute;
    top: -54px;
}
.ModalHr {
    margin: 10px 0 20px 0;
}
.modal .table td {
    border: none !important;
    font-size: 13px;
    color: #000;
}
.modal .table td span, #FareInfoModal span{
    color: #767272;
}
.modal .refund{
    padding: 0;
} 
#FareInfoModal img {
    max-height: 30px;
    margin-bottom: 15px;
    margin-top: 10px;
}
#FareInfoModal a{
    color: #5884fc;
}
#FareInfoModal p{
    color: #000;
}
#FareInfoModal i{
    font-style: normal;
}
#FareInfoModal {
    font-size: 13px;
}
.filter .dropdown-menu{
    padding:0px 15px;
    border: 1px solid #ececee;
    min-width: 200px;
}
.filter .dropdown-menu p {
    margin-top: 10px;
    font-weight: 600;
}
.filter .dropdown-menu label span {
    color: #767272;
    font-size: 13px;
}
@media (max-width: 1078px){
    body{
        font-size: 12px;
    }
    .boxDestination a {
        padding: 5px 10px;
    }
}
@media (min-width: 768px){
    .modal-dialog {
        width: 800px;
        margin: 30px auto;
    }
}
@media (max-width: 767px){
    .boxDestination .text{
        font-size: 12px;
    }
    .boxDestination a {
        padding: 3px 5px;
        font-size: 12px;
    }
    .boxDestination .number {
        border-right: 2px solid #ffffff;
        padding-right: 10px;
        margin-right: 10px;
    }
    .boxList {
        margin-bottom: 15px;
    }
    .boxDestination {
        padding: 15px 10px;
    }
    .boxhalf {
        float: left;
        width: 44%;
        padding: 0 3%;
    }
    .bltrans{
        min-height: 0;
    }
    .bl {
        min-height: 164px;
        top: -114px;
    }
    .invoiceBox{
        padding: 10px 0 0;
    }
    .boxList .panel-body .fr {
        padding-left: 0;
        padding-top: 10px;
    }
    .boxList .panel-body .fl {
        margin: 0 10px 0px 0px;
    }
    .refund {
        padding-left: 0;
        margin: 0;
    }
    .boxlinkLogin {
        padding-top: 10px;
    }
    .changeDeparture{
        text-align: center;
    }
    .modal .price {
        color: #ff6d54;
        font-weight: 600;
        font-size: 14px;
    }
    .modal p {
        font-size: 11px;
    }
    .modal .link a {
        padding: 0 3px 0 0;
    }
    .w20 .fl {
        width: 100%;
        float: none;
    }
    .w20 h4 {
        font-size: 13px;
        color: #000;
        font-weight: 600;
    }
    .modal .table {
        margin-top: 15px;
        background: #fcfcfc;
        border: 1px solid #f6f6f6;
    }
    .boxduration {
        padding: 10px 0 20px 28px;
    }
    .blModal {
        float: left;
        width: 1px;
        min-height: 122px;
        background: #5884fc;
        margin: 0 15px 0 0;
        position: absolute;
        top: -40px;
    }
}
.cGray {
    color: #808080;
}.lgo >img {
    width: 50px;
    margin-right: 5px;
}.lgo > * {
    display: inline-block;
}#ModalFlightChoose .lgo > * {
    display: table-cell;
}#ModalFlightChoose .lgo {
    display: inline-table;
}#Modalsumary .panel-default {
    border: 0;
    margin: 0;
}.hder > :first-child > * {
    padding: 10px 0;
    width: 45%;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    color: #5884fc;
}.hder {
    margin:0 -10px;
    background-color: #f2f2f2;
    padding: 20px 10px;
}.hder .orange {
    font-size: 18px;
}.flightShow {
    font-size: 14px;
}.InfoShow, .detileShow {
    padding-top: 20px;
    padding-bottom: 20px;
}.hder .btnOrage {
    margin-top: 10px;
    display: inline-block;
    width: 100px;
    max-width: 100%;
}



/*END PESAWAT*/
/*============================================*/

/*START BUS*/
/*============================================*/
a:hover {
    text-decoration: none;
}
ul {
    margin: 0;
    padding: 0;
}
/*
ul li {
    display: inline-block;
}
*/
.bgsmoke {
    background-color: whitesmoke;
}
.bgwhite {
    background-color: white;
}
.mn li a {
    color: #757171;
}
.mn li {
    padding: 20px 20px;
    display: inline-block;
    text-transform: uppercase;
    color: #757171;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 3px;
    padding-right: 0;
}
.mn li.login a {
    letter-spacing: normal;
    border: 2px solid;
    color: orange;
    padding: 7px 20px;
    border-radius: 4px;
}
.line {
    border-bottom: 1px solid #ddd;
}
.logo {
    width: 140px;
}
.blue {
    color: #0087ff;
    font-weight: bold;
    font-size: 12px;
}
.cityd {
    padding-top: 10px;
    padding-bottom: 10px;
}
.cng.blue {
    font-size: 16px;
    padding: 17px 0;
}
.labelFilter {
    padding: 10px 30px 10px 0;
    display: inline-block;
    font-weight: bold;
    padding-right: 65px;
}
.myfilter > li > div > button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: #545454;
    font-weight: bold;
    font-size: 13px;
}
.myfilter > li ul {
    padding: 0 15px;
    min-width: 200px;
}
.myfilter > li ul li {
    display: block;
}
.myfilter > li > div > button:hover,
.myfilter > li > div > button:focus {
    text-decoration: none;
}
.listBus {
    padding: 16px 0;
}
.icon.arrow {
    width: 25px;
    display: inline-block;
    background: url(icon/sprite.png) no-repeat;
    background-size: 140px;
    height: 20px;
    vertical-align: middle;
    background-position: -110px 2px;
    margin: 0 10px;
}
.icon.myfilter {
    width: 20px;
    display: inline-block;
    background: url(icon/sprite.png) no-repeat;
    background-size: 110px;
    height: 16px;
    vertical-align: middle;
    background-position: -66px 1px;
}
.listBus >:not(first-child) >:nth-child(1) {
    font-size: 16px;
    padding-bottom: 3px;
}
.grey {
    color: #808080;
    font-size: 16px;
}
.icon.seat {
    width: 23px;
    display: inline-block;
    background: url(icon/sprite.png) no-repeat;
    background-size: 65px;
    height: 21px;
    vertical-align: text-bottom;
    background-position: 4px 0px;
    margin-right: 6px;
}
.inlin {
    color: #80809e;
}
.inlin > * {
    max-width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
    display: inline-block;
    padding-right: 4px;
}
.orange {
    color: #ff6d54;
    padding-bottom: 10px;
}
.btnOrage {
    background: #ff6d54;
    border: 0;
    padding: 5px 20px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    max-width: 100%;
}
.tabF {
    padding: 10px 0 0;
    color: #959595;
    line-height: 30px;
}
.activ {
    color: #128fff;
    cursor: pointer;
}
.oneList {
    border: 1px solid #d1d1d1;
    padding: 10px 0 0;
    margin-bottom: 20px;
}
.opennaikT , .openfasilitas{
    display: none;
    padding: 10px 0 20px;
    background: #f7f7f7;
}
.timeGo.elips {
    padding-top: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
}.activ.line {
    border-bottom: 3px solid;
    display: inline-block;
}
.icon.leftArrow {
    width: 23px;
    display: inline-block;
    background: url(icon/sprite.png) no-repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto auto;
    background-size: 85px;
    height: 11px;
    vertical-align: initial;
    background-position: -22px 0px;
    margin: 0 8px;
}
.nopadL {
    padding-left: 0;
}.nopadR {
    padding-right: 0;
}.logoBus {
    padding-left: 10px;
    margin-top: 15px;
}.widt140 {
    width: 140px;
    margin-left: auto;
}.top20{
    padding-top: 20px;
}.widt320 {
    width: 320px;
    margin-left: auto;
    margin-right: 30px;
}.lanjut {
     padding: 10px;
     border: 1px solid #dddd;
     box-shadow: 0 3px 5px -4px black;
 }
.tble > * {
  display: table-cell;
}
.tble > b {
  width: 80px;
}.inline > span {
    font-size: 12px;
    display: block;
}
.pad10{
    padding: 10px;
}.spaner {
    border-color: #dddd;
}.btnOrage.btnlanjut {
    border-radius: 0;
    padding: 10px;
}.btnOrage.btnpesanan.line {
    position: relative; 
}.btnOrage.btnpesanan.line::before {
    background-color: #0006;
    content: "Sembunyikan Tempat Duduk";
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;color: white;
    padding-top: 4px;
}
.isiKursi {
  background: url(img/bgkursi.jpg) no-repeat;
    background-size: 310px;
    padding-left: 65px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    display: inline-block;
    padding-right: 20px;
}
.isiKursi >* {
    background: url(icon/sprite.png) no-repeat;
    background-size: 80px;
    width: 26px;
    height: 26px;
    display: inline-block;
    background-position: -23px -11px;
    margin-right: 3px;
}.isiKursi > .ada ,.isiKursi > .pilih {
    background-position: -51px -11px;
}.ktersediaan > :last-child {
    padding-top: 30px;
    color: #008eff;
    font-size: 16px;
}.ktersediaan > :first-child {
    text-transform: uppercase;
    font-size: 16px;
}.ktersediaan {
    padding: 20px 0;
}.btnmodalpesan {
    margin: 0 -10px;
    margin-bottom: -30px;
    padding: 20px;
    background-color: #e7e7e7;
    margin-top: 20px;
}.btnmodalpesan > .orange {
    font-size: 22px;
    padding-right: 20px;
    vertical-align: middle;
}.btnmodalpesan > .btnOrage {
    padding: 10px 15px;
}.ktersediaan > div:nth-child(2) > * {
    padding-top: 10px;
    display: inline-block;
}
.ktersediaan > div:nth-child(2) > :last-child::before {
    background-color: #aaa;
    margin-left: 60px;
}
.ktersediaan > div:nth-child(2) > ::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    background-color: #fff;
    border: 1px solid #aaa;
    vertical-align: text-top;
}.closed {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 22px;
    padding: 4px 20px;
    border-radius: 10px;
    cursor: pointer;
    z-index: 3;
    color: #aeaeae;
}.footers {
    background-color: #292735;
    color: white;
    text-transform: uppercase;
    padding: 30px 0;
}.foter > *>.iconed {
    height: 50px;
    background: url(img/footer.png) no-repeat;
    width: 40px;
    background-size: 250px;
    background-position: -194px 0px;
    margin-bottom: 10px;
}.foter {
    font-size: 12px;
}.lineH > * {
    padding-bottom: 10px;
letter-spacing: 2px;
}.lineH > :not(:first-child) {
    color: #a3a3a3;
}.lineH > :nth-child(2) > input {
    width: 100%;
    padding: 15px;
    background-color: #3b394c;
    border: 0;
    font-size: 16px;
}.relative{
    position: relative;
}.icon.emaile {
    position: absolute;
    right: 0;
    width: 60px;
    height: 40px;
    background: url(img/footer.png) no-repeat;
    background-position: -11px -125px;
    z-index: 0;
    top: 7px;
}.foter >*> hr {
    border-color: #5a5a5ae6;
}
.linksosial > * {
width: 35px;
    height: 35px;
    background: #3b394c url(img/footer.png) no-repeat;
    background-size: 290px;
    display: inline-block;
    border-radius: 50%;;
}.linksosial > .fb {
    background-position: 9px 3px;
}.linksosial > .tw {
    background-position: -51px 3px;
}.linksosial > .ph {
    background-position: -114px 3px;
}.linksosial > .ig {
    background-position: -177px 3px;
}.cpyright {
    text-transform: none;
    font-weight: bold;
    color: #828282;
}.capital {
    text-transform: initial;
}.tabF > div > div:not(.activ) {
    font-size: 13px;
}.linksosial > :not(:last-child) {
    margin-right: 20px;
}
/*========================================*/
/*END BUS*/

/*START KERETA*/
/*========================================*/
.headerTrain, .headerTrain a {
    background: #f7b744;
    color: white;
    padding: 15px 25px;
}
.headerTrain .number {
    font-size: 40px;width: 40px;
display: inline-block;
    vertical-align: top;
}
.headerTrain .tn {
    width: calc(100% - 50px);
    display: inline-block;
    padding-left: 10px;
    border-left: 1px solid;
}.headerTrain .see {
    border: 1px solid #ffffff;
    padding: 5px 15px;
    border-radius: 3px;
    margin-top: 13px;
    display: inline-block;
}.filter.Train button {
    color: #363636;
    font-weight: bold;
}.filter.Train button > span {
    color: #f7b744;
    font-size: 20px;
    font-weight: bold;
    line-height: 10px;
    vertical-align: inherit;
}.boxTrain .lbl {
    font-size: 16px;
}.m {
    font-size: 13px;
}.lbl {
    font-size: 16px;
}.boxTrain {
    padding: 20px 0;
    border: 1px solid #ececec;
}i { 
    font-style: normal;
}.borderLeft {
    border-left: 1px solid #bdbdbd;
}.boxTrain .orange {
    font-size: 18px;
}.boxTrain .btnOrage {
    padding: 5px 45px;
}.col-xs-2 > i {
    padding-top: 10px;
    display: inline-block;
}a:focus {
    outline: none;
    text-decoration: none;
}.opacty{
    opacity: .2;
}.withOpc .visible {
    display: none;
}.withOpc .boxTrain .col-sm-6:nth-child(3) {
    width: 75%;
}.withOpc .boxTrain .col-sm-6:nth-child(4) {
    width: 25%;
}.withOpc .boxTrain .col-sm-6:nth-child(4) .col-xs-6.borderLeft {
    width: 100%;
}.boxTrain > :first-child {
    padding-bottom: 10px;
}.mywidth > .col-sm-2 {
    width: 20%;
}.mywidth > :nth-child(3), .mywidth > :nth-child(5) {
    width: calc(20% - 8px);
}.mywidth > :nth-child(4) {
    width: 15px;
    padding: 0;
}.mywidth > * > .lbl {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
/*    font-weight: bold;*/
}.rountrips > :first-child {
    font-size: 18px;
}.mywidth {
    padding-top: 15px;
    padding-bottom: 15px;
}.boxTrain > .changeDep,
.boxTrain > .changeDepPesawat {
    display: block !important;
    background-color: #f1f1f1;
    margin-top: 30px;
    margin-bottom: -20px;
    padding: 20px;
    text-align: center;
    color: #398aec;
    cursor: pointer;
}.sh .headerTrain .hidden{
    display: block !important;
}.withOpc .boxTrain >.hidden {
    display: block !important;
    padding-top: 20px;
}.sumary > .boxTrain > :nth-child(3), .sumary > .boxTrain > :nth-child(4) {
    padding-bottom: 15px;
}.rountrips {
    margin-top: -40px;
}


/*========================================*/
/*END KERETA*/











