<div class="container container--full">
  <div class="blog-head" style="background-image: url(https://placeimg.com/1280/600/nature);">
    <div class="container">
      <div class="blog-head-group">
        <h4 class="title-head text-white">Libur Terencana</h4>
        <h2 class="title-head-large text-white">DENGAN SETTRIP</h2>
        <form class="form-group">
          <div class="input-group">
            <div class="input-group select">
              <select class="" name="">
                <option value="jakarta">Jakarta</option>
                <option value="bandung">Bandung</option>
              </select>
            </div>
            <input type="text" placeholder="Cari inspirasi liburan gaya kamu">
            <button type="submit" class="btn btn--orange">CARI</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <section class="content-group">
    <div class="container">
      <div class="title-text-group">
        <div class="col-left">
          <h4 class="title-section">Destinasi Rekomendasi</h4>
          <p class="text-section">Jelajahi indahnya destinasi wisata di seluruh Indonesia</p>
        </div>
        <div class="col-right">
          <a href="/" class="text-link">Lihat lebih banyak</a>
        </div>
      </div>
      <div class="home-overflowview relative">
        <div class="swiper-container home-rp__slider">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
              <div class="card card--blog">
                <div class="card__slider card__portrait">
                  <img src="./images/image-card.jpeg" alt="">
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card card--blog">
                <div class="card__slider card__portrait">
                  <img src="./images/image-card.jpeg" alt="">
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card card--blog">
                <div class="card__slider card__portrait">
                  <img src="./images/image-card.jpeg" alt="">
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card card--blog">
                <div class="card__slider card__portrait">
                  <img src="./images/image-card.jpeg" alt="">
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card card--blog">
                <div class="card__slider card__portrait">
                  <img src="./images/image-card.jpeg" alt="">
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card card--blog">
                <div class="card__slider card__portrait">
                  <img src="./images/image-card.jpeg" alt="">
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card card--blog">
                <div class="card__slider card__portrait">
                  <img src="./images/image-card.jpeg" alt="">
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card card--blog">
                <div class="card__slider card__portrait">
                  <img src="./images/image-card.jpeg" alt="">
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card card--blog">
                <div class="card__slider card__portrait">
                  <img src="./images/image-card.jpeg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- If we need navigation buttons -->
        <div class="home-shadow__left">
          <img src="./images/icon/ic-arrow-left.svg" alt="arrow-left">
        </div>
        <div class="home-shadow__right">
          <img src="./images/icon/ic-arrow-right.svg" alt="arrow-right">
        </div>
      </div>
    </div>
  </section>
  <section class="content-group">
    <div class="container">
      <div class="title-text-group">
        <div class="col-left">
          <h4 class="title-section">Rekomendasi Open Trip</h4>
          <p class="text-section">Temukan rekomendasi wisata, destinasi, dan aktrasi untuk liburan kamu</p>
        </div>
        <div class="col-right">
          <a href="/" class="text-link">Lihat lebih banyak</a>
        </div>
      </div>
      <div class="flex-container">
        <a href="/" class="content-wrap content-wrap--1of2">
          <div class="banner">
            <img src="https://placeimg.com/1280/800/nature" alt="" class="img-fluid">
          </div>
        </a>
        <a href="/" class="content-wrap content-wrap--1of2">
          <div class="banner">
            <img src="https://placeimg.com/1280/800/nature" alt="" class="img-fluid">
          </div>
        </a>
      </div>
    </div>
  </section>
  <section class="content-group">
    <div class="container">
      <div class="title-text-group">
        <div class="col-left">
          <h4 class="title-section">Artikel Terbaru</h4>
          <p class="text-section">Temukan rekomendasi wisata, destinasi, dan aktrasi untuk liburan kamu</p>
        </div>
        <div class="col-right">
          <a href="/" class="text-link">Lihat lebih banyak</a>
        </div>
      </div>
      <div class="flex-container">
        <a href="/" class="content-wrap content-wrap--1of3">
          <div class="banner">
            <img src="https://placeimg.com/1280/800/bird" alt="" class="img-fluid">
          </div>
          <p class="text-mini">12 January 2018</p>
          <h4>Daftar pantai terbaik untuk surfing di indonesia</h4>
        </a>
        <a href="/" class="content-wrap content-wrap--1of3">
          <div class="banner">
            <img src="https://placeimg.com/1280/800/city" alt="" class="img-fluid">
          </div>
          <p class="text-mini">12 January 2018</p>
          <h4>Daftar pantai terbaik untuk surfing di indonesia</h4>
        </a>
        <a href="/" class="content-wrap content-wrap--1of3">
          <div class="banner">
            <img src="https://placeimg.com/1280/800/earth" alt="" class="img-fluid">
          </div>
          <p class="text-mini">12 January 2018</p>
          <h4>Daftar pantai terbaik untuk surfing di indonesia</h4>
        </a>
        <a href="/" class="content-wrap content-wrap--1of3">
          <div class="banner">
            <img src="https://placeimg.com/1280/800/bird" alt="" class="img-fluid">
          </div>
          <p class="text-mini">12 January 2018</p>
          <h4>Daftar pantai terbaik untuk surfing di indonesia</h4>
        </a>
        <a href="/" class="content-wrap content-wrap--1of3">
          <div class="banner">
            <img src="https://placeimg.com/1280/800/city" alt="" class="img-fluid">
          </div>
          <p class="text-mini">12 January 2018</p>
          <h4>Daftar pantai terbaik untuk surfing di indonesia</h4>
        </a>
        <a href="/" class="content-wrap content-wrap--1of3">
          <div class="banner">
            <img src="https://placeimg.com/1280/800/earth" alt="" class="img-fluid">
          </div>
          <p class="text-mini">12 January 2018</p>
          <h4>Daftar pantai terbaik untuk surfing di indonesia</h4>
        </a>
      </div>
    </div>
  </section>
</div>


<script src="js/plugins/swiper.min.js" charset="utf-8"></script>
<script src="js/view/home.js" charset="utf-8"></script>