    <div class="bgsmoke">
    <div class="line bgwhite">
        <div class="container">
            <div class="row row--withmargin">
                <div class="col-sm-6 col-xs-12">
                    <div class="row row--withmargin">
                    <div class="col-sm-6 col-xs-12">
                        <div class="cityd">
                            <div class="blue">CITY</div>
                            <div><span>Jakarta(All)</span> <i class="fa fa-exchange" aria-hidden="true"></i> <span>Surabaya(All)</span> </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">                        
                       <div class="cityd">
                            <div class="blue">DATE</div>
                            <div><span>wed, 12 sep 2018</span> - <span>wed, 17 Oct 2018</span> </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12 text-right"><div class="cng blue">CHANGE</div></div>
            </div>
        </div>        
    </div>
    
    <div>
        <div class="container">
            <div class="row row--withmargin">
            <div class="col-sm-12">
                <ul class="myfilter clearfix">
                    <li><span class="labelFilter">Filter</span></li>
                    <li>
                        <div class="sortd">
                            <div class="tbl">Nama Travel
                            <span class="icon myfilter"></span></div>
                            <ul class="sortd-menu">
                                <li>
                                    <div class="checkbox">
                                        <label>
                                        <input type="checkbox" value="">Langsung
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                        <input type="checkbox" value="">1 Transit
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                        <input type="checkbox" value="">2x Transit
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="sortd">
                            <div class="tbl">Jenis Bus
                            <span class="icon myfilter"></span></div>
                            <ul class="sortd-menu">
                                <li>
                                    <div class="checkbox">
                                        <label>
                                        <input type="checkbox" value="">Langsung
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                        <input type="checkbox" value="">1 Transit
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                        <input type="checkbox" value="">2x Transit
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="sortd">
                            <div class="tbl">Jam Berangkat
                            <span class="icon myfilter"></span></div>
                            <ul class="sortd-menu">
                                <li>
                                    <div class="checkbox">
                                        <label>
                                        <input type="checkbox" value="">Langsung
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                        <input type="checkbox" value="">1 Transit
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                        <input type="checkbox" value="">2x Transit
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="sortd">
                            <div class="tbl">Fasilitas
                            <span class="icon myfilter"></span></div>
                            <ul class="sortd-menu">
                                <li>
                                    <div class="checkbox">
                                        <label>
                                        <input type="checkbox" value="">Langsung
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                        <input type="checkbox" value="">1 Transit
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                        <input type="checkbox" value="">2x Transit
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="sortd">
                            <div class="tbl" >Naik Dari
                            <span class="icon myfilter"></span></div>
                            <ul class="sortd-menu">
                                <li>
                                    <div class="checkbox">
                                        <label>
                                        <input type="checkbox" value="">Langsung
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                        <input type="checkbox" value="">1 Transit
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                        <input type="checkbox" value="">2x Transit
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="sortd">
                            <div class="tbl ">Turun Di
                            <span class="icon myfilter"></span></div>
                            <ul class="sortd-menu">
                                <li>
                                    <div class="checkbox">
                                        <label>
                                        <input type="checkbox" value="">Langsung
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                        <input type="checkbox" value="">1 Transit
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                        <input type="checkbox" value="">2x Transit
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            </div>
        </div>
    </div>
    
    <div class="padB10">
        <div class="container">
            <div class="oneList bgwhite">
            <div class="row">
                <div class="col-sm-1 nopadR">
                    <div class="logoBus"><img src="../images/bus/bus.PNG" class="img-responsive"></div>
                </div>
                <div class="col-sm-11">
                    <div class="listBus clearfix">
                        <div class="col-sm-4 col-xs-12">
                            <div><b>Pahala Kencana</b></div>
                            <div class="grey">VIP</div>
                            <div class="inlin"><div>terminal Tanjung bla bla</div><div>- Jalan Hangtuan kla bloa l</div></div>
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <div><b>10:30 </b> <span class="icon leftArrow"></span> <b>02:20</b></div>
                            <div class="grey">15 j 55 m</div>
                        </div>
                        <div class="col-sm-3 text-right">
                            <div><span class="icon seat"></span> <b>9 kursi</b></div>
                        </div>
                        <div class="col-sm-2 text-center">
                            <div class="orange"><b>RP 260.000</b></div>
                            <button class="btnOrage btnDuduk" data-kursi="10" data-isi="3">Lihat Kursi</button>
                        </div>
                    </div>
                </div>
                </div>
                <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-11">
                    <div class="tabF clearfix">
                        <div class="col-sm-3 col-xs-12">
                            <div class="activ fasilitas">Fasilitas</div>
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <div class="activ naikT">Naik Dari &amp; Turun Di</div>
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <div>PENILAIAN</div>
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <div>KETENTUAN BATAL</div>
                        </div>
                    </div>
                    </div>
                    </div>
                <div class="row">
                <div class="col-sm-12 isiTab">
                    <div class=" opennaikT clearfix">
                <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-11">
                        <div class="col-sm-6 col-xs-12">
                            <div class="grey"><b>Naik Dari</b></div>
                            <div class="timeGo elips">10:30 Jakarta Utara. DKI. Taisubiabswawvaw</div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="grey"><b>Turun Di</b></div>
                            <div class="timeGo elips">02:30 Ujung Surabaya. kasahahsosn ahwu</div>
                    </div></div></div>
                    </div>
                    <div class=" openfasilitas clearfix">
                <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-11">
                        <div class="col-sm-6 col-xs-12">
                            <div class="grey"><b>Central TV</b></div>
                        </div>
                        <div class="col-sm-6 col-xs-12 text-right">
                            <div class="widt140"><img src="../images/bus/gmbus.png" class="img-responsive"> </div>
                    </div></div></div>
                    </div>
<!--
                    <div class=" openpesanan clearfix">
                <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-11">
                        <div class="col-sm-6 col-xs-12">
                            <div class="grey">Silakan pilih jumlah penumpang
                            <span>
                                <select>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </span>
                            </div>
                            <div class="grey top20"><b>Bus ini tidak dapat memilih tempat duduk. Nomor kursi akan diberikan saat keberangkatan.</b></div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="widt320">
                                <div class="lanjut bgwhite">
                                    <div>Klik Lanjutkan</div>
                                    <div class="tble"><b>Naik Dari - </b> <span class="inline">PGC Cililitan
                                    <span>Gedung PGC Cililitan Area Halte Walk - Lantai Ground</span></span></div>
                                    <div class="pad10"></div>
                                    <div class="tble"><b>Turun Di - </b> <span class="inline">Bandara Soekarno Hatta 1B
                                    <span>Bandara Soetta Terminal 1B</span></span></div>
                                    <hr class="spaner"/>
                                    <div class="row">
                                    <div class="col-xs-6 text-left"><b>HARGA</b></div>
                                    <div class="col-xs-6 text-right"><b>RP. 780.000</b></div>
                                    <div class="clearfix"></div>
                                    <div class="pad10"></div>
                                    </div>
                                    <div class="btnOrage text-center btnlanjut">Lanjut</div>
                                </div>
                            </div>
                    </div></div></div>
                    </div>
-->
                </div>
                </div>
            </div>
<!--            tanpa kursi-->
            <div class="oneList bgwhite">
            <div class="row">
                <div class="col-sm-1 nopadR">
                    <div class="logoBus"><img src="../images/bus/bus.PNG" class="img-responsive"/></div>
                </div>
                <div class="col-sm-11">
                    <div class="listBus clearfix">
                        <div class="col-sm-4 col-xs-12">
                            <div><b>Pahala Kencana</b></div>
                            <div class="grey">VIP</div>
                            <div class="inlin"><div>terminal Tanjung bla bla</div><div>- Jalan Hangtuan kla bloa l</div></div>
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <div><b>10:30 </b> <span class="icon leftArrow"></span> <b>02:20</b></div>
                            <div class="grey">15 j 55 m</div>
                        </div>
                        <div class="col-sm-3 text-right">
                            <div><span class="icon seat"></span> <b>9 kursi</b></div>
                        </div>
                        <div class="col-sm-2 text-center">
                            <div class="orange"><b>RP 260.000</b></div>
                            <button class="btnOrage btnpesanan">Pesan</button>
                        </div>
                    </div>
                </div>
                </div>
                <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-11">
                    <div class="tabF clearfix">
                        <div class="col-sm-3 col-xs-12">
                            <div class="activ fasilitas">Fasilitas</div>
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <div class="activ naikT">Naik Dari & Turun Di</div>
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <div>PENILAIAN</div>
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <div>KETENTUAN BATAL</div>
                        </div>
                    </div>
                    </div>
                    </div>
                <div class="row">
                <div class="col-sm-12 isiTab">
                    <div class=" opennaikT clearfix">
                <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-11">
                        <div class="col-sm-6 col-xs-12">
                            <div class="grey"><b>Naik Dari</b></div>
                            <div class="timeGo elips">10:30 Jakarta Utara. DKI. Taisubiabswawvaw</div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="grey"><b>Turun Di</b></div>
                            <div class="timeGo elips">02:30 Ujung Surabaya. kasahahsosn ahwu</div>
                    </div></div></div>
                    </div>
                    <div class=" openfasilitas clearfix">
                <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-11">
                        <div class="col-sm-6 col-xs-12">
                            <div class="grey"><b>Central TV</b></div>
                        </div>
                        <div class="col-sm-6 col-xs-12 text-right">
                            <div class="widt140"><img src="../images/bus/gmbus.png" class="img-responsive"/> </div>
                    </div></div></div>
                    </div>
                </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
    
    
    
    
    
<!--    modal-->

            <div id="modaltanpakursi" style="position: fixed;z-index: 100;top: 0;left: 0;right: 0;bottom: 0;display: none;">
                <div class="mymodal-dialog" style="background-color: white;padding: 10px;min-height: 220px;padding-top: 50px;width: 850px;position: absolute !important;top: 50% !important;left: 50% !important;transform: translate(-50%,-50%) !important;padding-bottom: 30px;max-width: 98%;">
                <div class=" openpesanan clearfix" style="display: block;">                
                <div class="closed" onclick='closeM(); return false;'>x</div> 
                <div class="row">
                <div class="col-sm-12">
                        <div class="col-sm-6 col-xs-12">
                            <div class="grey">Silakan pilih jumlah penumpang
                            <span>
                                <select>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                </select>
                            </span>
                            </div>
                            <div class="grey top20"><b>Bus ini tidak dapat memilih tempat duduk. Nomor kursi akan diberikan saat keberangkatan.</b></div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="widt320">
                                <div class="lanjut bgwhite">
                                    <div>Klik Lanjutkan</div>
                                    <div class="tble"><b>Naik Dari - </b> <span class="inline">PGC Cililitan
                                    <span>Gedung PGC Cililitan Area Halte Walk - Lantai Ground</span></span></div>
                                    <div class="pad10"></div>
                                    <div class="tble"><b>Turun Di - </b> <span class="inline">Bandara Soekarno Hatta 1B
                                    <span>Bandara Soetta Terminal 1B</span></span></div>
                                    <hr class="spaner">
                                    <div class="row">
                                    <div class="col-sm-6 text-left"><b>HARGA</b></div>
                                    <div class="col-sm-6 text-right"><b>RP. 780.000</b></div>
                                    <div class="clearfix"></div>
                                    <div class="pad10"></div>
                                    </div>
                                    <div class="btnOrage text-center btnlanjut">Pesan</div>
                                </div>
                            </div>
                    </div></div></div>
                    </div> 
                </div>
            </div> 
            <div id="modalkursi" style="position: fixed;z-index: 100;top: 0;left: 0;right: 0;bottom: 0;display: none;">
               <div class="mymodal-dialog" style="background-color: white;padding: 10px;min-height: 220px;padding-top: 50px;width: 850px;position: absolute !important;top: 50% !important;left: 50% !important;transform: translate(-50%,-50%) !important;padding-bottom: 30px;max-width: 98%;">   
               <div class="closed" onclick='closeM(); return false;'>x</div>         
                <div class="col-sm-6">
                    <div class="isiKursi">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <br/>
                        <span class="ada"></span>
                        <span class="ada"></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <br/>
                        <br/>
                        <span class="ada"></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <br/>
                        <span class="ada"></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="ktersediaan">
                        <div><b>keterangan tempat duduk</b></div>
                        <div><span>tersedia</span><span>tidak tersedia</span></div>
                        <div>Klik pilihan kursi yang tersedia kemudian lanjut ke bagian pembayaran.</div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="text-right btnmodalpesan">
                    <span class="orange">RP 260.000 / Orang</span><button class="btnOrage">Pesan</button>
                </div>
                </div>
            </div>
            <div class="bgBlack" style="background-color: rgba(0,0,0,0.5);position: fixed;top: 0;bottom: 0;left: 0;right: 0;z-index: 99;display: none;"></div>
<!--            end modal-->
<script src="js/view/bus.js" charset="utf-8"></script>
   
  
 


