
   <div class="bgsmoke">
    <div class="line bgwhite">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="cityd">
                        <div class="blue">CITY</div>
                        <div><span>Jakarta (All Airports) </span> <i class="fa fa-exchange" aria-hidden="true"></i>
                        <span> Bali / Denpasar (DPS) - Ngurah Rai International Airport</span> </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12">                        
                   <div class="cityd">
                        <div class="blue">DATE</div>
                        <div><span>wed, 12 sep 2018</span> - <span>wed, 17 Oct 2018</span> </div>
                    </div>
                </div>
                <div class="col-sm-2 col-xs-8">
                <div class="cityd">
                    <div class="blue">PASSENGER</div>
                    <div class="desc">
                        <div><span>2 Adults 1 Child 1 Infant</span></div>
                    </div>
                </div>
                </div>
                <div class="col-sm-1 col-xs-12 text-right"><div class="cng blue">CHANGE</div></div>
            </div>
        </div>        
    </div>
    
     <div class="detailContent Train">
        <div class="container">
        <div class="row">
        
<!--        right-->
        <div class="col-sm-8">
        <div class="headerTrain">
            <div class="row">
                <div class="col-sm-8">
                    <div class="number">1</div>
                    <div class="tn">
                        <b> Choose Departure flight </b><br>
                        Wed, 05 Sep 2018 <br>
                        Jakarta - Bali / Denpasar
                    </div>
                </div>
                <div class="col-sm-4 text-right visible">
                    <div class="see">See other dates</div>
                </div>
            </div>
        </div>
<!--        other date-->
        <div class="otherdatediv">
        <div class="retrn"><b> Departure: Mon, 8 Oct 2018</b></div>
        <div class="otherdate">
             <div class="slickprice">
              <div class="price of">sun, 1 sep <b> - </b>Round-trip</div>
              <div class="price of">sun, 2 sep <b> - </b>Round-trip</div>
              <div class="price of">sun, 3 sep <b> - </b>Round-trip</div>
              <div class="price slick-current">sun, 4 sep <b>RP. 1.111</b>Round-trip</div>
              <div class="price">sun, 5 sep <b>RP. 987</b>Round-trip</div>
              <div class="price">sun, 6 sep <b>RP. 1.000</b>Round-trip</div>
              <div class="price">sun, 7 sep <b>RP. 1.334</b>Round-trip</div>
              <div class="price">sun, 8 sep <b>RP. 1.675</b>Round-trip</div>
              <div class="price">sun, 9 sep <b>RP. 1.323</b>Round-trip</div>
              <div class="price">sun, 10 sep <b>RP. 2.334</b>Round-trip</div>
              <div class="price">sun, 11 sep <b>RP. 1.434</b>Round-trip</div>
              <div class="price">sun, 12 sep <b>RP. 1.334</b>Round-trip</div>
              <div class="price">sun, 13 sep <b>RP. 1.232</b>Round-trip</div>
            </div>
         </div>   
         </div>   
<!--        other date-->
            
<!--        filter-->
        <div class="filter Train ">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="myfilter clearfix">
                        <li><span>Filter:</span></li>
                        <li>
                            <div class="sortd">
                                <div class="tbl">Transit
                                    <span class="fa fa-caret-down"></span></div>
                                <ul class="sortd-menu">
                                     <li>
                                        <div class="checkbox">
                                            <label>
                                            <input type="checkbox" value="">Langsung
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                            <input type="checkbox" value="">1 Transit
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                            <input type="checkbox" value="">2x Transit
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="sortd">
                                <div class="tbl">Waktu
                                    <span class="fa fa-caret-down"></span></div>
                                <ul class="sortd-menu">

                                    <li><p>Berangkat (DPS ke JKTC)</p></li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                            <input type="checkbox" value="">00:00 - 06:00
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                            <input type="checkbox" value="">06:00 - 12:00
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                            <input type="checkbox" value="">12:00 - 18:00
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                            <input type="checkbox" value="">18:00 - 24:00
                                            </label>
                                        </div>
                                    </li>
                                    <li><p>Tiba (JKTC ke DPS)</p></li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                            <input type="checkbox" value="">00:00 - 06:00
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                            <input type="checkbox" value="">06:00 - 12:00
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                            <input type="checkbox" value="">12:00 - 18:00
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                            <input type="checkbox" value="">18:00 - 24:00
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="sortd">
                                <div class="tbl">Fasilitas
                                    <span class="fa fa-caret-down"></span></div>
                                <ul class="sortd-menu">
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                            <input type="checkbox" value="">Bagasi <br> <span>81 penerbangan</span>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                            <input type="checkbox" value="">Hiburan <br> <span>13 penerbangan</span>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                            <input type="checkbox" value="">Makanan <br> <span>46 penerbangan</span>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                            <input type="checkbox" value="">USB port / Power <br> <span>13 penerbangan</span>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                            <input type="checkbox" value="">Wi-Fi <br> <span>6 penerbangan</span>
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="sortd">
                                <div class="tbl">Maskapai
                                    <span class="fa fa-caret-down"></span></div>
                                <ul class="sortd-menu">
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                            <input type="checkbox" value="">Batik Air <br> <span>Dari IDR 1.513.000</span>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                            <input type="checkbox" value="">Citilink Indonesia <br> <span>Dari IDR 1.024.200</span>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                            <input type="checkbox" value="">Garuda Indonesia <br> <span>Dari IDR 1.921.100</span>
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="sortd">
                                <div class="tbl">Bandara Transit
                                    <span class="fa fa-caret-down"></span></div>
                                <ul class="sortd-menu">
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                            <input type="checkbox" value="">Kupang
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                            <input type="checkbox" value="">Makassar
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                            <input type="checkbox" value="">Praya
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="sortd">
                                <div class="tbl">Durasi Transit
                                    <span class="fa fa-caret-down"></span></div>
                                <ul class="sortd-menu">
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value=""> 1 jam
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value=""> 2 jam
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
<!--        end filter-->
        
           
            <!--        box -->
            <div class="boxTrain bgwhite flight clearfix">
                <div class="col-sm-12">
                    <div class="lgo"><img src="../images/logo/airasia.png" class="img-responsive"> <span>AirAsia</span></div>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-5">
                   <div class="row">

                    <div class="col-sm-5">
                        <div class="lbl">05:12 </div>
                        <div class="grey">Jakarta (CGK)</div>
                    </div>
                    <div class="col-sm-2"><i class="fa fa-plane"></i></div>
                   <div class="col-sm-5">
                        <div class="lbl">07:12</div>
                        <div class="grey">Bali (DPS)</div>
                    </div>
                   </div>
                </div>
                <div class="col-sm-7">
                   <div class="row">
                        <div class="col-sm-4">
                            <div class="lbl">2h 06m</div>
                            <div class="grey">direct</div>
                       </div>
                        <div class="col-sm-3">
                            <i class="fa fa-suitcase" aria-hidden="true"></i> 15
                       </div>
                       <div class="col-sm-5">
                           <div class="orange">RP 380.000</div>
                           <button class="btnOrage TrainChoose">
                           <a href="index-solid.html?view=pesawat_choose">Choose</a></button>
                       </div>
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="tabF clearfix">
                        <div class="col-sm-3 col-xs-12">
                            <div class="activ detilkereta">Flight Details</div>
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <div class="activ infokereta"> Flight Info </div>
                        </div>
                </div>
                
                
                <div class="row">
                <div class="col-sm-12 isiTab">
                    <div class=" opendetil clearfix">
                        <div class="col-sm-12 col-xs-12">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="lgo col-sm-2">
                                        <img src="../images/logo/airasia.png" class="img-responsive">
                                    </div>
                                    <div class="">AirAsia XT-7514 <span class="Cgrey pl20">Economy</span></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-7">
                                        <div class="detailDesc">
                                            <div class="row">
                                                <div class="col-sm-1">
                                                    <div class="bltrans">
                                                        <div class="dot"></div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-11">
                                                    <div class="boxhalf">
                                                        <h4>19:30</h4>
                                                        <p class="Cgrey"> <span class="nopad">Wed, 05 Sep 2018</span></p>
                                                    </div>
                                                    <div class="boxhalf">
                                                        <p>Jakarta (CKG)</p>
                                                        <p class="Cgrey"><span class="nopad">Soekarno Hatta International Airport</span></p>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-1">
                                                    <div class="bl"></div>
                                                </div>
                                                <div class="col-sm-11">
                                                    <div class="boxduration">
                                                        <p><i class="fa fa-clock-o blue"></i> <span>1h 50m</span></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-1">
                                                    <div class="bltrans">
                                                        <div class="disc"></div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-11">
                                                    <div class="boxhalf">
                                                        <h4>22:20</h4>
                                                        <p class="Cgrey"><span class="nopad">Wed, 05 Sep 2018</span></p>
                                                    </div>
                                                    <div class="boxhalf">
                                                        <p>Bali / Denpasar (DPS)</p>
                                                        <p class="Cgrey"><span class="nopad">Ngurah Rai International Airport</span></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="detailDesc">
                                            <p>Aircraft <span class="Cgrey">Airbus A320</span></p>
                                            <p>Seat layout <span class="Cgrey">3-3</span></p>
                                            <p>Seat pitch <span class="Cgrey">28 inches (standard)</span></p>
                                            <p>Cabin baggage <span class="Cgrey">1 x 7 kg</span></p>
                                            <p><i class="fa fa-suitcase blue"></i> <span class="Cgrey">Baggage 15 kg</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" openinfo clearfix">
                        <div class="col-sm-12 col-xs-12">
                           <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="col-xs-12 lgo">
                                                <img src="../images/logo/airasia.png" class="img-responsive">
                                                <span>AirAsia</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 text-right">
                                            <div class="fr">
                                                Jakarta (CGK) - Bali (DPS)
                                                <span>Economy</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-xs-12">
                                            <div class="invoiceBox">
                                                <table class="table table-responsive table-bordered table-striped">
                                                    <tr>
                                                        <th class="text-center">Information</th>
                                                        <th class="text-center">Subtotal</th>
                                                    </tr>
                                                    <tr>
                                                        <td>Adult Basic Fare (x1)</td>
                                                        <td class="text-right">Rp 613.700</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Child Basic Fare (x1)</td>
                                                        <td class="text-right">Rp 613.700</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Infant Basic Fare (x1)</td>
                                                        <td class="text-right">Rp 150.000</td>
                                                    </tr>
                                                    <tr>
                                                        <td><span>Tax</span></td>
                                                        <td class="text-right"><span>Included</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Your Pay</b></td>
                                                        <td class="text-right">
                                                            <b>Rp 1.377.400</b>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="refund">
                                        <i class="fa fa-repeat"></i> Refundable 
                                        <a href="#">more info</a>
                                    </div>
                                </div>
                                <div class="col-sm-6 text-right">
                                    <div class="boxlinkLogin">
                                        <i class="fa fa-sign-in"></i> 
                                        <a href="#">Log in</a>
                                        to earn Points for your booking
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        </div>
<!--        end box -->  
            <!--        box -->
            <div class="boxTrain bgwhite flight clearfix">
                <div class="col-sm-12">
                    <div class="lgo"><img src="../images/logo/airasia.png" class="img-responsive"> <span>AirAsia</span></div>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-5">
                   <div class="row">

                    <div class="col-sm-5">
                        <div class="lbl">05:12 </div>
                        <div class="grey">Jakarta (CGK)</div>
                    </div>
                    <div class="col-sm-2"><i class="fa fa-plane"></i></div>
                   <div class="col-sm-5">
                        <div class="lbl">07:12</div>
                        <div class="grey">Bali (DPS)</div>
                    </div>
                   </div>
                </div>
                <div class="col-sm-7">
                   <div class="row">
                        <div class="col-sm-4">
                            <div class="lbl">2h 06m</div>
                            <div class="grey">direct</div>
                       </div>
                        <div class="col-sm-3">
                            <i class="fa fa-suitcase" aria-hidden="true"></i> 15
                       </div>
                       <div class="col-sm-5">
                           <div class="orange">RP 380.000</div>
                           <button class="btnOrage TrainChoose">
                           <a href="index-solid.html?view=pesawat_choose">Choose</a></button>
                       </div>
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="tabF clearfix">
                        <div class="col-sm-3 col-xs-12">
                            <div class="activ detilkereta">Flight Details</div>
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <div class="activ infokereta"> Flight Info </div>
                        </div>
                </div>
                
                
                <div class="row">
                <div class="col-sm-12 isiTab">
                    <div class=" opendetil clearfix">
                        <div class="col-sm-12 col-xs-12">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="lgo col-sm-2">
                                        <img src="../images/logo/airasia.png" class="img-responsive">
                                    </div>
                                    <div class="">AirAsia XT-7514 <span class="Cgrey pl20">Economy</span></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-7">
                                        <div class="detailDesc">
                                            <div class="row">
                                                <div class="col-sm-1">
                                                    <div class="bltrans">
                                                        <div class="dot"></div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-11">
                                                    <div class="boxhalf">
                                                        <h4>19:30</h4>
                                                        <p class="Cgrey"> <span class="nopad">Wed, 05 Sep 2018</span></p>
                                                    </div>
                                                    <div class="boxhalf">
                                                        <p>Jakarta (CKG)</p>
                                                        <p class="Cgrey"><span class="nopad">Soekarno Hatta International Airport</span></p>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-1">
                                                    <div class="bl"></div>
                                                </div>
                                                <div class="col-sm-11">
                                                    <div class="boxduration">
                                                        <p><i class="fa fa-clock-o blue"></i> <span>1h 50m</span></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-1">
                                                    <div class="bltrans">
                                                        <div class="disc"></div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-11">
                                                    <div class="boxhalf">
                                                        <h4>22:20</h4>
                                                        <p class="Cgrey"><span class="nopad">Wed, 05 Sep 2018</span></p>
                                                    </div>
                                                    <div class="boxhalf">
                                                        <p>Bali / Denpasar (DPS)</p>
                                                        <p class="Cgrey"><span class="nopad">Ngurah Rai International Airport</span></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="detailDesc">
                                            <p>Aircraft <span class="Cgrey">Airbus A320</span></p>
                                            <p>Seat layout <span class="Cgrey">3-3</span></p>
                                            <p>Seat pitch <span class="Cgrey">28 inches (standard)</span></p>
                                            <p>Cabin baggage <span class="Cgrey">1 x 7 kg</span></p>
                                            <p><i class="fa fa-suitcase blue"></i> <span class="Cgrey">Baggage 15 kg</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" openinfo clearfix">
                        <div class="col-sm-12 col-xs-12">
                           <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="col-xs-12 lgo">
                                                <img src="../images/logo/airasia.png" class="img-responsive">
                                                <span>AirAsia</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 text-right">
                                            <div class="fr">
                                                Jakarta (CGK) - Bali (DPS)
                                                <span>Economy</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-xs-12">
                                            <div class="invoiceBox">
                                                <table class="table table-responsive table-bordered table-striped">
                                                    <tr>
                                                        <th class="text-center">Information</th>
                                                        <th class="text-center">Subtotal</th>
                                                    </tr>
                                                    <tr>
                                                        <td>Adult Basic Fare (x1)</td>
                                                        <td class="text-right">Rp 613.700</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Child Basic Fare (x1)</td>
                                                        <td class="text-right">Rp 613.700</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Infant Basic Fare (x1)</td>
                                                        <td class="text-right">Rp 150.000</td>
                                                    </tr>
                                                    <tr>
                                                        <td><span>Tax</span></td>
                                                        <td class="text-right"><span>Included</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Your Pay</b></td>
                                                        <td class="text-right">
                                                            <b>Rp 1.377.400</b>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="refund">
                                        <i class="fa fa-repeat"></i> Refundable 
                                        <a href="#">more info</a>
                                    </div>
                                </div>
                                <div class="col-sm-6 text-right">
                                    <div class="boxlinkLogin">
                                        <i class="fa fa-sign-in"></i> 
                                        <a href="#">Log in</a>
                                        to earn Points for your booking
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        </div>
<!--        end box -->           
            </div>
<!--        end right -->           
            
<!--        left-->
            <div class="col-sm-4 withOpc flight ">
<!--                   start header-->
                    <div class="headerTrain">
                        <div class="">
                            <div class="number">2</div>
                            <div class="tn">
                                <b> Choose Return Flight </b><br>
                                Wed, 16 Sep 2018 <br>
                                 Bali / Denpasar - Jakarta
                            </div>
                        </div>

                    </div>
<!--                    end header-->
                  
<!--                  start box-->
                   <div class="boxTrain bgwhite clearfix">
                        <div class="col-sm-12">
                           <div class="lgo"><img src="../images/logo/airasia.png" class="img-responsive"> <span>AirAsia</span></div>
                        </div>
                        <div class="clearfix"></div>
                    <div class="col-sm-8">
                       <div class="row">
                           
                        <div class="col-sm-5">
                            <div class="lbl t1">05:05</div>
                            <div class="grey m s1">Gambir</div>
                        </div>
                       	<div class="col-sm-2"><i class="fa fa-plane"></i></div>
                       <div class="col-sm-5">
                            <div class="lbl t2">08:05</div>
                            <div class="grey m s2">Cimahi</div>
                        </div>
                       </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="lbl">3h 0m</div>
                                <div class="grey m">direct</div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="clearfix">
                        <div class="col-sm-6">
                            <div class="blue">Flight Details</div>
                        </div>
                        <div class="col-sm-6">
                            <div class="blue">Flight Info</div>
                        </div>
                    </div>
                    </div>
<!--              end box -->  
<!--                  start box-->
                   <div class="boxTrain bgwhite clearfix">
                        <div class="col-sm-12">
                           <div class="lgo"><img src="../images/logo/airasia.png" class="img-responsive"> <span>AirAsia</span></div>
                        </div>
                        <div class="clearfix"></div>
                    <div class="col-sm-8">
                       <div class="row">
                           
                        <div class="col-sm-5">
                            <div class="lbl t1">05:05</div>
                            <div class="grey m s1">Gambir</div>
                        </div>
                       	<div class="col-sm-2"><i class="fa fa-plane"></i></div>
                       <div class="col-sm-5">
                            <div class="lbl t2">08:05</div>
                            <div class="grey m s2">Cimahi</div>
                        </div>
                       </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="lbl">3h 0m</div>
                                <div class="grey m">direct</div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="clearfix">
                        <div class="col-sm-6">
                            <div class="blue">Flight Details</div>
                        </div>
                        <div class="col-sm-6">
                            <div class="blue">Flight Info</div>
                        </div>
                    </div>
                    </div>
<!--              end box -->               
                </div>
<!--        end left-->
            
            
            
            
            </div>
         </div>
    </div>
</div>     
<script src="js/view/bus.js" charset="utf-8"></script>
  
 