<div class="container container--full grey newStyle">
  <div class="plan-destinasi-board">
    <div class="container">
      <div class="plan-destinasi-boardbox-container">
        <div class="plan-destinasi-board-box">
          <div class="label">
            kota
          </div>
          <div class="value">
            bandung
          </div>
        </div>
        <div class="plan-destinasi-board-box">
          <div class="label">
            tanggal
          </div>
          <div class="value">
            21 April - 23 April
          </div>
        </div>
        <div class="plan-destinasi-board-box">
          <div class="label">
            peserta
          </div>
          <div class="value">
            2 Orang
          </div>
        </div>
      </div>
      <div class="plan-destinasi-board-action">
        ubah
      </div>
    </div>
  </div>
  <div class="container container-body plan-destinasi">
    <h3>Buat Plan</h3>
    <div class="plan-destinasi-body">
      <div class="row">
              
        <div class="plan-destinasi-main-body">
          
           <div class="denah">
               <img src="../images/denah.PNG" />
           </div>
           
          <div class="plan-destinasi-mb-inner ">           
            <div class="pd-mb-head">
              <div class="pd-mb-step active" step="1">
                <p>21 APRIL</p>
              </div>
              <div class="pd-mb-step" step="2">
                <p>22 APRIL</p>
              </div>
              <div class="pd-mb-step" step="3">
                <p>23 APRIL</p>
              </div>
              <div class="pd-mb-step blue" step="+">
                <p>TAMBAHAN HARI</p>
              </div>
            </div>
          </div>
          
          <div class="startDest">
              <div class="relative">
                  <div class="linee"></div>
                  <div>
                      <div class="lb">Start Location <span>(09.00 AM)</span></div>

                      <div class="tiket clearfix">
                          <div class="tiketpesawat"><div><span class="icopesawat"></span> tiket pesawat</div></div>
                          <div class="tiketkereta"><div><span class="icokereta"></span> tiket kereta api</div></div>
                          <div class="tiketbus"><div><span class="icobus"></span> tiket bus</div></div>
                      </div>
                      <div class="cblue"><i class="fa fa-map-marker"></i> 20 km (30 menit)</div>

                      <div class="lb">Bandung <span>(11.00 AM)</span></div>
                  </div>
              </div>
          </div>
          
          <div class="bgwhite">
              <div class="empetyplan text-center"><div class="imgempety"></div> <div>Kamu belum membuat plan</div></div>
              <div class="iconDestynasi clearfix">
                  <div>
                      <span class="icoDest"></span> destinasi
                  </div>
                  <div>
                      <span class="icoInap"></span> Penginapan
                  </div>
                  <div>
                      <span class="icoRest"></span> restoran
                  </div>
                  <div>
                      <span class="icoTrans"></span> transportasi
                  </div>
                  <div>
                      <span class="icoPriv"></span> Privat trip
                  </div>
              </div>
          </div>
          
          
        </div>
        <div class="plan-destinasi-cart-price">
          <div class="pd-cp-inner">
            <div class="pd-cp-box label">
              <p>Rincian</p>
            </div>
            <div class="pd-cp-box">
              <div class="pd-cp-text-label cblue">
                21 APR
              </div>
              <div class="pd-cp-text-number">
                  
              </div>
            </div>
            <div class="pd-cp-box">
              <div class="pd-cp-text-label">
                21 APR
              </div>
              <div class="pd-cp-text-number">
                Rp. 0
              </div>
            </div>
            <div class="pd-cp-box">
              <div class="pd-cp-text-label">
                21 APR
              </div>
              <div class="pd-cp-text-number">
                Rp. 0
              </div>
            </div>
            <div class="pd-cp-box subtotal">
              <div class="open-modal-cart">
                  <button class="btn btn-js-action no-btn" data-action="open-modal" data-actionFor="modal-total">
                      <img src="images/icon/off.svg" alt="">
                  </button>
              </div>
              <div class="pd-cp-container">
                <div class="pd-cp-text-label">
                  SUB TOTAL
                </div>
                <div class="pd-cp-text-number">
                  Rp. 0
                </div>
              </div>
              <button class="btn btn--orange btn--medium" >PESAN</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<script src="js/plugins/swiper.min.js" charset="utf-8"></script>
<script src="js/plugins/sticky.js"></script>
<script src="js/view/plan_destinasi.js" charset="utf-8"></script>
